<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menu</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <style>
    body{
      background-color: #ff6e40;
    }
    .header {
      height: 100px;
      width: 100%;
      margin-top: 160px;
      background-color: #1e847f;
      border-radius: 20px;
    }

    h1 {
      text-align: center;
      padding-top: 20px;
      color: #fff;
    }

    .nav-link {
      padding: 10px 20px;
      text-align: center;
      color: #f8f6f6;
      background-color: #0d1137;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .nav-link:hover {
      background-color: #3498db;
      color: #fff;
    }
  </style>

</head>

<body>
  <div class="container">
    <div class="header">
      <h1>STUDENT MANAGEMENT</h1>
    </div>

    <div>
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="/students/new">Add student</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/students/search">search student</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/students">Update student</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/students/delete">Delete student</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/students/view">View student</a>
      </nav>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>